<mat-card>
    <mat-card-content>
        <p>
            <!--Nombre-->
            <mat-form-field>
                <input matInput class="form-control" placeholder="Nombre" [(ngModel)]="name">
            </mat-form-field>
            <!--Apellidos-->
            <mat-form-field>
                <input matInput class="form-control" placeholder="Apellidos" [(ngModel)]="lastName">
            </mat-form-field>
        </p>
        <p>
            <!--Usuario-->
            <mat-form-field>
                <input matInput class="form-control" placeholder="Usuario" [(ngModel)]="user">
            </mat-form-field>
            <!--Clave-->
            <mat-form-field>
                <input matInput class="form-control" placeholder="Contraseña" [(ngModel)]="password">
            </mat-form-field>
        </p>
        <p>
            <!--NSSS-->
            <mat-form-field>
                <input matInput class="form-control" placeholder="NSS" [(ngModel)]="NSS">
            </mat-form-field>
            <!--Numero tarjeta-->
            <mat-form-field>
                <input matInput class="form-control" placeholder="Numero tarjeta" [(ngModel)]="numTarjeta">
            </mat-form-field>
        </p>
        <p>
            <!--Telefono-->
            <mat-form-field>
                <input matInput class="form-control" placeholder="Telefono" [(ngModel)]="telefono">
            </mat-form-field>
            <!--Direccion-->
            <mat-form-field>
                <input matInput class="form-control" placeholder="Direccion" [(ngModel)]="direccion">
            </mat-form-field>
        </p>
        <p>
            <button mat-button (click)="save()">Registrar paciente</button>
        </p>
    </mat-card-content>
</mat-card>