<p>register-patient works!</p>


<!--Nombre-->
<div class="form-group">
    <label class="control-label col-sm-2">Nombre:</label>
    <div class="col-sm-10">
        <input matInput class="form-control" placeholder="Nombre">
    </div>
</div>
<!--Apellidos-->
<div class="form-group">
    <label class="control-label col-sm-2" >Apellidos:</label>
    <div class="col-sm-10">
        <input class="form-control" placeholder="Apellidos">
    </div>
</div>
<!--Usuario-->
<div class="form-group">
    <label class="control-label col-sm-2" >Usuario:</label>
    <div class="col-sm-10">
        <input class="form-control" placeholder="Usuario">
    </div>
</div>
<!--Clave-->
<div class="form-group">
    <label class="control-label col-sm-2">Contraseña:</label>
    <div class="col-sm-10">
        <input class="form-control" placeholder="Contraseña">
    </div>
</div>
<!--NSSS-->
<div class="form-group">
    <label class="control-label col-sm-2">Numero Seguridad Social:</label>
    <div class="col-sm-10">
        <input class="form-control" placeholder="Numero Seguridad Social">
    </div>
</div>
<!--Numero tarjeta-->
<div class="form-group">
    <label class="control-label col-sm-2">Numero tarjeta:</label>
    <div class="col-sm-10">
        <input class="form-control" placeholder="Numero tarjeta">
    </div>
</div>
<!--Telefono-->
<div class="form-group">
    <label class="control-label col-sm-2">Telefono:</label>
    <div class="col-sm-10">
        <input class="form-control" placeholder="Telefono">
    </div>
</div>
<!--Medico-->
<!--Citas-->