<!-- Barra de busqueda por nombre-->
<mat-form-field class="search-form">
  <mat-form-field class="search-bar">
      <mat-label>Nombre paciente</mat-label>
      <input matInput #nameSearch (keydown.enter)="searchPatient(nameSearch.value)" name="search" placeholder="manuel" value="">
      <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</mat-form-field>
<!-- Barra de busqueda por NSS-->
<mat-form-field class="search-form">
    <mat-form-field class="search-bar">
        <mat-label>NSS paciente</mat-label>
        <input matInput #nssSearch (keydown.enter)="searchPatient(nssSearch.value)" name="nss" placeholder="" value="">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</mat-form-field>

<!-- Tabla de busqueda de pacientes-->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

    <!-- Columna nombre -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> nombre </th>
      <td mat-cell *matCellDef="let it"> {{it.nombre}} </td>
    </ng-container>
   
    <!-- Columna apellidos -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Apellidos </th>
      <td mat-cell *matCellDef="let it"> {{it.apellidos}} </td>
    </ng-container>
    <!-- Columna NSS -->
    <ng-container matColumnDef="NSS">
      <th mat-header-cell *matHeaderCellDef> NSS </th>
      <td mat-cell *matCellDef="let it"> {{it.NSS}} </td>
    </ng-container>
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/patient',row.id]"></tr>
  </table>