<p>register-doctor works!</p>

<form class="form-horizontal">
    <!--Nombre-->
    <div class="form-group">
        <label class="control-label col-sm-2">Nombre:</label>
        <div class="col-sm-10">
            <input class="form-control" placeholder="Nombre">
        </div>
    </div>
    <!--Apellidos-->
    <div class="form-group">
        <label class="control-label col-sm-2" >Apellidos:</label>
        <div class="col-sm-10">
            <input class="form-control" placeholder="Apellidos">
        </div>
    </div>
    <!--Usuario-->
    <div class="form-group">
        <label class="control-label col-sm-2" >Usuario:</label>
        <div class="col-sm-10">
            <input class="form-control" placeholder="Usuario">
        </div>
    </div>
    <!--Clave-->
    <div class="form-group">
        <label class="control-label col-sm-2">Contraseña:</label>
        <div class="col-sm-10">
            <input class="form-control" placeholder="Contraseña">
        </div>
    </div>
    <!--numColegiado-->
    <div class="form-group">
        <label class="control-label col-sm-2">Numero colegiado:</label>
        <div class="col-sm-10">
            <input class="form-control" placeholder="Numero colegiado">
        </div>
    </div>
    <!--Pacientes-->
    <!--Citas-->

</form>