<mat-card>
    <mat-card-content>
    <p>
        <!--Nombre-->
        <mat-form-field>
            <input matInput class="form-control" placeholder="Nombre" [(ngModel)]="name">
        </mat-form-field>
        <!--Apellidos-->
        <mat-form-field>
            <input matInput class="form-control" placeholder="Apellidos" [(ngModel)]="lastName">
        </mat-form-field>
    </p>
    <p>
        <!--Usuario-->
        <mat-form-field>
            <input matInput class="form-control" placeholder="Usuario" [(ngModel)]="user">
        </mat-form-field>
        <!--Clave-->
        <mat-form-field>
            <input matInput class="form-control" placeholder="Clave" [(ngModel)]="password">
        </mat-form-field>
    </p>
    <p>
        <!--numColegiado-->
        <mat-form-field>
            <input matInput class="form-control" placeholder="Numero colegiado" [(ngModel)]="numColegiado">
        </mat-form-field>
    </p>
    <p>
        <button mat-button (click)="save()">Registrar doctor</button>
    </p>
    </mat-card-content>
</mat-card>