<mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Motivo cita" name="reason" [(ngModel)]="reason">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="attibute11" name="attibute11" [(ngModel)]="attibute11">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="datetime-local" placeholder="Fecha y Hora" name="dateTime"
            [(ngModel)]="dateTime">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>