
<!-- Tabla de busqueda de doctores-->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> fecha </th>
        <td mat-cell *matCellDef="let it"> </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> motivo </th>
        <td mat-cell *matCellDef="let it"> </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="numColegiado">
        <th mat-header-cell *matHeaderCellDef> Numero colegiado </th>
        <td mat-cell *matCellDef="let it"> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/doctor',row.id]"></tr>
</table>